@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 30px;

}


/* navbar */
nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
nav .logo{
    display: flex;
    align-items: center;
}

nav .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}

nav .logo img{
    width: 80px;
    height: 80px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav button {
    /* display: block; */
    color: white;
    background-color: #843F0F;
    padding: 12px 16px;
    border-radius: 30px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav button:hover {
    /* background-color: #843F0F; */
    /* border-color: #843F0F; */
    color: #fff;
}
nav button#menuButton {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}
/* nav i {
    color: black;
} */

@media (max-width:992px){
    nav button {
        display: none;
    }
    nav ul {
        gap: 20px;
    }
    nav ul li a {
        font-size: 15px;
    }
}

@media (max-width:768px){
    nav {
        justify-content: space-between;
        padding: 0 42px;
    }
    nav ul {
        display: none;
    }
    /* final */
    nav.open .logo {
        display: none;
    }
    nav.open ul {
        display: flex;
    }


    nav button#menuButton{
        display: flex;
    }

}
@media (max-width:458px){
    /* .text-xxl {
        margin: 44px 0 20px 40px;
    }
    .hero-text {
        margin-left: 44px;
    }
    .hero-buttons {
        margin-left: 45px;
    } */
}
/* hero */

.hero {
    margin-bottom: 50px;
    /* padding: 1rem; */
}

.text-xxl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 40px 0 20px;
    padding-left: 37px;
}
.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}
.text-center {
    text-align: center;
}
.hero-buttons {
    margin: 40px 0 20px;
    padding-left: 60px;
}
.hero .container {
    display: flex;
    grid-template-columns: repeat(2fr,1fr);
    gap: 10px;
}
.n {
    /* background-color: red; */
    margin: 100px 0 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 20px;
    font-weight: 500;
    padding: 10px 15px;
    padding-left: 50px;
}
.n h2 {
    font-size: 4rem;
    font-weight: 400;
}
.hero-text {
    font-size: 1rem;
    margin-left: 33px;
    padding-right: 33px;
}

.two {
    position: relative;
    right: 70px;
    z-index: -1;
}
.imag img {
    border-radius: 25px;
}
@media (max-width:900px){
    .hero .container {
        display: flex;
        flex-direction: column;
    }
    .imag {
        margin-left: 130px;
        align-items: center;
    }
    .n .num1 h2 {
        font-size: 3rem;
    }
}
@media (max-width:600px){
    .n .num1 h2 {
        font-size: 2rem;
    }
    .hero .container {
        flex-direction: repeat(1fr,1fr);
    }
}

/* 4 */
.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.about .left .header0{
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #843F0F;
    font-size: 2.25rem;
    font-weight: 400;
}
.about .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.about .left p {
    margin-top: 1rem;
    color: #545454;
}

.about .right img {
    width: 600px;
    height: 400px;
}

@media (max-width:900px){
    .about .left p {
        font-size: 12px;
    }
    .about .right img {
        width: 100%;
    }
    .about {
        grid-template-columns: repeat(1,2fr);
    }
}

/* Trending */






section {
  position: relative;
  width: calc(min(47rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    letter-spacing: 0.8px;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
  }

  p {
    font-size: 0.9rem;
    max-width: 680px;
    line-height: 1.6;
    margin-inline: auto;
    margin-top: 10px;
  }
}

.swiper-container {
  position: relative;
}

.swiper {
  width: 100%;
  padding: 60px 0 95px 0;
}

.swiper-slide {
  width: 10rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  position: relative;
  border-radius: 12px;
  box-shadow: -1px 5px 15px #0000001f;

  h3 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    letter-spacing: 0.8px;
    position: relative;
  }

  p {
    color: #fff;
    line-height: 1.6;
    font-size: 0.8rem;
  }

  .slide-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 90%;
  }

  .author {
    grid-template-columns: 1fr;
    justify-items: center;
    position: absolute;
    bottom: -90px;
    width: 100%;
    display: none;
    opacity: 0;

    span {
      color: #111;
      display: block;
      margin: 5px 0 10px 0;
      font-weight: 600;
      font-size: 0.9rem;
    }

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      border: 3.5px solid white;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        svg {
          width: 20px;
          color: orange;
        }
      }
    }
  }
}

.swiper-slide-active .author {
  display: grid;
  opacity: 1;
}

.swiper-slide--one {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h3 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
  }
}

.swiper-slide--two {
  background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #cc5333,
    #23074d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #cc5333,
    #23074d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h3 {
    font-family: "Quicksand", sans-serif;
  }
}

.swiper-slide--three {
  background: #159957;

  h3 {
    font-family: "Satisfy", cursive;
    font-weight: 300;
  }
}

.swiper-slide--four {
  background: #b06ab3;

  h3 {
    font-family: "Courgette", cursive;
    font-weight: 300;
  }
}

.swiper-slide--five {
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h3 {
    font-family: "Noto Serif Vithkuqi", serif;
    font-weight: 300;
  }
}

.swiper-slide--six {
  background: #b9f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #b9f,
    #3b2421
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #b9f, #3b2421);

  h3 {
    font-family: "Chonburi", cursive;
    font-weight: 400;
  }
}

.swiper-button-prev {
  background: white;
  border-radius: 50%;
  top: 47%;
  left: -30px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 11px rgb(0 0 0 / 17%);

  &::after {
    font-size: 1.4rem;
    content: "";
  }

  svg {
    width: 25px;
  }
}

.swiper-button-next {
  background: white;
  border-radius: 50%;
  top: 47%;
  right: -30px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 11px rgb(0 0 0 / 17%);

  &::after {
    font-size: 1.4rem;
    content: "";
  }

  svg {
    width: 25px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;

  @media (min-width: 760px) {
    display: flex;
  }
}



/*  */

.hero-section {
    position: relative;
    width: 100%;
    height: 400px; 
    background-image: url('images/'); 
    background-size: cover;
    background-position: center;
    border-radius: 25px; 
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 104, 49, 0.731); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px; 
    z-index: -1;

}

.overlay .content {
    color: white;
    padding: 20px;
}

.overlay h3 {
    font-size: 36px; 
    font-weight: bold;
}

.overlay p {
    margin: 20px 0 0;
    font-size: 18px; 
    line-height: 0.5;
}


/* --------- Gallery Slider ---------- */
.gallery {
   
}

.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    /* border-radius: 15px; */
}

.slides {
    display: flex;
    /* transition: transform 0.5s ease-in-out; */
}

.slide {
    min-width: 100%;
    transition: 0.1s;
}

.slider img{
    border-radius: 15px;
    height: 50vh;
    z-index: -1;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.dots {
    text-align: center;
    padding: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}



/* 7 */

section .header {
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #843F0F;
    text-align: start;
    font-size: 2.25rem;
    font-weight: 400;
}
.features {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.card img {
    width: 50px;
}
.features .card .sp {
    margin-bottom: 1rem;
}
.features .card h4 {
    margin-bottom: 1rem;
    color: #1F1F1F;
    font-weight: 600;
    font-size: 1.2rem;
}
.features .card p {
    color: #545454;
    margin-bottom: 1rem;
}

@media (width < 900px){
    .features {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (width <600px){
    .features {
        grid-template-columns: repeat(1,1fr);
    }
}



/* 8 */
section .header2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #843F0F;
    text-align: start;
    font-size: 2.25rem;
    font-weight: 400;
}
.star {
    color: #FAC714;
    /* display: flex; */
    font-size: 1rem;
    margin-bottom: 1rem;
}
.star p {
    color: #8A8A8A;
    font-size: 1rem;
}
.tes {
    margin-top: 2rem;
    padding: 2rem;
    /* padding-left: 40px; */
}

.card1 {
    width: 300px;
    background-color: #F3F3F3;
    padding: 1rem;
    border: 2px solid transparent;
    text-align: center;
}
.teimage img {
    border-radius: 50%;
    margin-top: 1rem;
}
.teimage {
    width: 300px;
    text-align: center;
    /* background-color: red; */
}
.testimonials {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.testimonials .tesimage img {
    width: 100%;
    margin-top: 4rem;
    border-radius: 30px;
}
@media (max-width:900px){
    .testimonials {
        grid-template-columns: repeat(2,1fr);
    }
    .testimonials .tesimage img {
        width: 100%;
        height: 240px;
    }
}
@media (max-width:600px){
    .testimonials {
        grid-template-columns: repeat(1,1fr);
    }
    .testimonials .tesimage img {
        width: 550px;
        height: 470px;
        padding: 10px;
    }

   
}

/* .content {
    display: flex;
    width: 100%;
  }
  
  .image-container {
    flex: 2;
    background: url('images/Mask\ group.png`') no-repeat center center/cover;
    min-height: 400px;
  }
  
  .form-container {
    flex: 1;
    background-color: #f8c19a;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #7f4f26;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin: 10px 0 5px;
    font-size: 1rem;
    color: #7f4f26;
  }
  
  .form-container input, .form-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7f4f26;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #5f3b1b;
  }
  
  @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .image-container, .form-container {
        flex: none;
        width: 100%;
    }
  } */

/* 5 */
footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    background: #1F1F1F;
    padding: 2rem 5rem;
}
footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}
footer .column p {
    color: #545454;
    margin-bottom: 2rem;
}
footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
footer .column .socials a {
    color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}
/* footer .column .socials a:hover {
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
} */
footer .column h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}
footer .column > a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
}

/* footer .mapimage {
    
} */
@media (max-width:900px){
    footer {
        grid-template-columns: repeat(2fr,1fr);
    }
}
@media (max-width:768px){
    footer {
        grid-template-columns: 1fr;
    }
}